---
import '../styles/global.css'; // importante
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import SearchPokemon from '../components/SearchPokemon.jsx';
import SectionHero from '../components/SectionHero.jsx';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>PokeFinder</title>
  </head>
  <body class="font-sans min-h-screen flex flex-col bg-gradient-to-b from-black via-gray-900 to-purple-900 text-white">
    <Navbar />
    <main id="buscar" class="flex-grow">
      <SearchPokemon client:load />
      <SectionHero client:load />
    </main>
    <Footer />
  </body>
</html>